 {
    "title": "Pingu Dancing",
    "description": "You get sonic dancing on your playback bar!",
    "code": ".player-controls .playback-progressbar::before { content: ''; width: 32px; height: 32px; bottom: calc(100% - 7px); right: 10px; position: absolute; image-rendering: pixelated; background-size: 32px 32px; background-image: url('https://github.com/Jagothedinghead/pingufy/blob/main/200w.gif?raw=true'); }",
    "preview": "resources/assets/snippets/sonic-dancing.png"
  }
